/* @media (min-width: 950px) {
    
}
 @media (max-width: 991px) {
    .carousel {
        .container {
            position: relative;
            max-width: 820px;
            margin: 0 auto;
        }
    }

}  */